data/xml_schemas/movie.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:simpleType name="UrlType">
		<xsd:restriction base="xsd:normalizedString">
			<xsd:pattern value="http://.*"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="MimeTypeType">
		<xsd:restriction base="xsd:normalizedString">
			<xsd:pattern value="(image|audio|video)/.*"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="RatingValueType">
		<xsd:restriction base="xsd:float">
			<xsd:minInclusive value="1.0"/>
			<xsd:maxInclusive value="5.0"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="LanguageType">
		<xsd:annotation>
			<xsd:documentation>ISO 639-1 codes</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:normalizedString">
			<xsd:pattern value="(aa|ab|ae|af|ak|am|an|ar|as|av|ay|az|ba|be|bg|bh|bi|bm|bn|bo|br|bs|ca|ce|ch|co|cr|cs|cu|cv|cy|da|de|dv|dz|ee|el|en|eo|es|et|eu|fa|ff|fi|fj|fo|fr|fy|ga|gd|gl|gn|gu|gv|ha|he|hi|ho|hr|ht|hu|hy|hz|ia|id|ie|ig|ii|ik|io|is|it|iu|ja|jv|ka|kg|ki|kj|kk|kl|km|kn|ko|kr|ks|ku|kv|kw|ky|la|lb|lg|li|ln|lo|lt|lu|lv|mg|mh|mi|mk|ml|mn|mr|ms|mt|my|na|nb|nd|ne|ng|nl|nn|no|nr|nv|ny|oc|oj|om|or|os|pa|pi|pl|ps|pt|qu|rm|rn|ro|ru|rw|sa|sc|sd|se|sg|si|sk|sl|sm|sn|so|sq|sr|ss|st|su|sv|sw|ta|te|tg|th|ti|tk|tl|tn|to|tr|ts|tt|tw|ty|ug|uk|ur|uz|ve|vi|vo|wa|wo|xh|yi|yo|za|zh|zu)"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CountryType">
		<xsd:annotation>
			<xsd:documentation>Country code in ISO 3166-1 alpha-3</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:normalizedString">
			<xsd:pattern value="(ABW|AFG|AGO|AIA|ALA|ALB|AND|ANT|ARE|ARG|ARM|ASM|ATA|ATF|ATG|AUS|AUT|AZE|BDI|BEL|BEN|BFA|BGD|BGR|BHR|BHS|BIH|BLM|BLR|BLZ|BMU|BOL|BRA|BRB|BRN|BTN|BVT|BWA|CAF|CAN|CCK|CHE|CHL|CHN|CIV|CMR|COD|COG|COK|COL|COM|CPV|CRI|CUB|CXR|CYM|CYP|CZE|DEU|DJI|DMA|DNK|DOM|DZA|ECU|EGY|ERI|ESH|ESP|EST|ETH|FIN|FJI|FLK|FRA|FRO|FSM|GAB|GBR|GEO|GGY|GHA|GIB|GIN|GLP|GMB|GNB|GNQ|GRC|GRD|GRL|GTM|GUF|GUM|GUY|HKG|HMD|HND|HRV|HTI|HUN|IDN|IMN|IND|IOT|IRL|IRN|IRQ|ISL|ISR|ITA|JAM|JEY|JOR|JPN|KAZ|KEN|KGZ|KHM|KIR|KNA|PRK|KOR|KWT|LAO|LBN|LBR|LBY|LCA|LIE|LKA|LSO|LTU|LUX|LVA|MAC|MAF|MAR|MCO|MDA|MDG|MDV|MEX|MHL|MKD|MLI|MLT|MMR|MNE|MNG|MNP|MOZ|MRT|MSR|MTQ|MUS|MWI|MYS|MYT|NAM|NCL|NER|NFK|NGA|NIC|NIU|NLD|NOR|NPL|NRU|NZL|OMN|PAK|PAN|PCN|PER|PHL|PLW|PNG|POL|PRI|PRT|PRY|PSE|PYF|QAT|REU|ROU|RUS|RWA|SAU|SCG|SDN|SEN|SGP|SGS|SHN|SJM|SLB|SLE|SLV|SMR|SOM|SPM|SRB|STP|SUR|SVK|SVN|SWE|SWZ|SYC|SYR|TCA|TCD|TGO|THA|TJK|TKL|TKM|TLS|TMP|TON|TTO|TUN|TUR|TUV|TWN|TZA|UGA|UKR|UMI|URY|USA|UZB|VAT|VCT|VEN|VGB|VIR|VNM|VUT|WLF|WSM|YEM|ZAF|ZMB|ZWE)"/>
		</xsd:restriction>
	</xsd:simpleType>

	<!-- Start defining complex types -->
	<xsd:element name="vendor-movies">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="movie" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
			<xsd:attribute name="vendor" type="xsd:normalizedString" use="required"/>	<!-- this is the vendor name/id -->
			<xsd:attribute name="modified" type="xsd:dateTime" use="required"/> <!-- timestamp -->
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="movie">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="name"/>	<!-- original movie name -->
				<xsd:element ref="version" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="additional-details" minOccurs="0"/>
				<xsd:element ref="showtimes" minOccurs="0"/>
			</xsd:sequence>
			<xsd:attribute name="id" type="xsd:normalizedString" use="required"/>	<!-- unique vendor movie ID -->
			<xsd:attribute name="link-id" type="xsd:normalizedString" use="optional"/> <!-- 3rd party movie ID -->
			<xsd:attribute name="modified" type="xsd:dateTime" use="required"/>     <!-- timestamp -->
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="version">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="name"/>
				<xsd:element name="genre" type="xsd:string" minOccurs="0"/>
				<xsd:element name="tag-line" type="xsd:normalizedString" minOccurs="0"/>
				<xsd:element name="plot" type="xsd:string" minOccurs="0"/>
				<xsd:element name="review" type="xsd:string" minOccurs="0"/>
				<xsd:element name="rating" type="RatingValueType" minOccurs="0"/>
				<xsd:element name="director" type="xsd:normalizedString" minOccurs="0"/> 	<!-- movie director, e.g.: Jim Field Smith -->
				<xsd:element name="writer" type="xsd:normalizedString" minOccurs="0"/>		<!-- script writer, e.g.: Sean Anders, John Morris -->
				<xsd:element ref="cast" minOccurs="0"/>
				<xsd:element ref="media" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="property" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
			<xsd:attribute name="lang" type="LanguageType" use="required"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="showtimes">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="place" minOccurs="1" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="place">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="age_rating" type="xsd:normalizedString" minOccurs="0"/> <!-- is the age rating that applies for this movie in the country where the place/venue is located -->
				<xsd:element ref="time" minOccurs="1" maxOccurs="unbounded"/>
			</xsd:sequence>
			<xsd:attribute name="place-id" type="xsd:normalizedString" use="required"/>		<!-- vendor place/venue id, same thing as vpid in vendor-pois-xx.xsd -->
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="cast">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="actor" minOccurs="1" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="actor">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="actor-name" type="xsd:normalizedString" minOccurs="1"/> 		<!-- actor real name, e.g.: Mia Wasikowska -->
				<xsd:element name="character-name" type="xsd:normalizedString" minOccurs="0" />	<!-- personage name, e.g.: Alice -->
				<xsd:element name="picture" type="UrlType" minOccurs="0" />						<!-- web URL to actor photo -->
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="additional-details">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="website" type="UrlType" minOccurs="0"/>					 <!-- movie official website, e.g.: http://www.lovelybones.com -->
				<xsd:element name="age-rating" type="xsd:normalizedString" minOccurs="0"/>	 <!-- relaxed age rating. Use whatever age rating notation is available. e.g.: PG15 -->
				<xsd:element name="release-date" type="xsd:date" minOccurs="0"/>
				<xsd:element name="duration" type="xsd:normalizedString" minOccurs="0"/>	 <!-- duration of movie, e.g.: 105 min -->
				<xsd:element name="country" type="CountryType" minOccurs="0"/>				 <!-- country where the movie was produced launched, e.g.: USA -->
				<xsd:element name="language" type="xsd:normalizedString" minOccurs="0"/>     <!-- original language spoken in the movie, e.g.: English, French-->
				<xsd:element name="aspect-ratio" type="xsd:normalizedString" minOccurs="0"/> <!-- movie aspect ratio, e.g.: 1.85 : 1 -->
				<xsd:element name="sound-mix" type="xsd:normalizedString" minOccurs="0"/>    <!-- sound technology, e.g.: DTS | Dolby Digital | SDDS -->
				<xsd:element name="company" type="xsd:normalizedString" minOccurs="0"/>		 <!-- producer company, e.g.: Walt Disney Pictures -->
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="name" type="xsd:normalizedString"/>
	<!-- use this node to specify available images -->
	<xsd:element name="media">
		<xsd:complexType mixed="true">
			<xsd:attribute name="mime-type" type="MimeTypeType" use="required"/>
			<xsd:attribute name="caption" type="xsd:normalizedString" use="optional"/>
			<xsd:attribute name="author" type="xsd:normalizedString" use="optional"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="property" >
		<xsd:complexType mixed="true">
			<xsd:attribute name="key" type="xsd:normalizedString" use="required"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="time">
		<xsd:complexType>
			<xsd:sequence>
				<!--date and time in ISO 8601 -->
				<xsd:element name="start_date" type="xsd:date"/>
				<xsd:element name="end_date" type="xsd:date" minOccurs="0"/>
				<xsd:element name="event_time" type="xsd:time" minOccurs="0"/>
				<xsd:element name="end_time" type="xsd:time" minOccurs="0"/>
				<xsd:element name="utc_offset" type="xsd:normalizedString"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

</xsd:schema>